@inject IGetAllBacklogItemsCommand command
@inject IJSRuntime JSRuntime
@typeparam TList

<div class="flex bg-white row-border-top">
    <div class="title">@title</div>
    <div class="display-text">
        <span style="margin-top: 10px !important">Displaying @pageSize of a total @itemsCount processes</span>
    </div>
    @if (title == "ACTIONS")
    {
        <div class="button-option">
            <button class="button icon float-right" @onclick="showAddProcessModal">Actions</button>
        </div>
    }
    <div class="sort-by icon">
        Sort by:
        <span class="sort-by-text">Relevance</span>
    </div>
    <div class="option" @onclick="showEditActionModal" style="cursor: pointer;"><span class="mb-3">...</span></div>
</div>
<div class="row-border overflow-auto width-max">
    @TableContent
</div>
<div class="flex bg-white row-border-bottom overflow-hidden">
    <div class="show-results icon">
        Show: <span>@pageSize Results </span>
    </div>
    <div class="flex pagination-buttons justify-content-center overflow-hidden">
        <button class="btn ml-1 page-btn page-btn-left" @onclick="PaginateLeft"></button>
        <div class="overflow-hidden position-relative" id=@paginationDivId style="white-space: nowrap;">
            @for (var i = 1; i <= totalPages - lastPages; i++)
            {
                var pageIndex = i;

                <button class="btn page-btn
                @(pageIndex == 1 ? "" : "ml-1")
                @(currentPage == pageIndex ? "page-btn-active" : "")
                @(hiddenButtons >= pageIndex ? "hide-previous-page" : "")"
                        @onclick="() => PaginatePageHideButtons(pageIndex)">
                    @i
                </button>
            }
        </div>
        @if (paginationButtonsSlideLeftState)
        {
            <span class="ml-1" style="color: #adadad;">..</span>
            @for (var i = totalPages - (lastPages - 1); i <= totalPages; i++)
            {
                var pageIndex = i;
                <button class="btn page-btn
                    @(currentPage == i ? "page-btn-active" : "")"
                        @onclick="() => ClickedLastPages(pageIndex)">
                    @i
                </button>
            }
        }
        <button class="btn ml-1 page-btn" @onclick="PaginateRight">></button>
    </div>
</div>

<Modal @ref="addProcessModalRef">
    <ModalContent Centered="true">
        <ModalBody>
            <Vai.Frontend.Application.Component.AddActionComponent HideModal="HideModal" GetAllProcesses="GetAllProcesses" />
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="editProcessModalRef">
    <ModalContent Centered="true">
        <ModalBody>
            <Vai.Frontend.Application.Component.EditActionComponent @ref="editForm" HideModal="HideModal" GetAllProcesses="GetAllProcesses" selectedId="selectedId" />
        </ModalBody>
    </ModalContent>
</Modal>

@code {
    [Parameter]
    public List<TList> List { get; set; }
    [Parameter]
    public RenderFragment TableContent { get; set; }
    [Parameter]
    public EventCallback GetAllProcesses { get; set; }
    [Parameter]
    public EventCallback<int> SetPage { get; set; }
    [Parameter]
    public EventCallback<int> SetPageSize { get; set; }
    [Parameter]
    public EventCallback<int> SetCurrentPage { get; set; }
    [Parameter]
    public EventCallback SetPaginationButtonSlideLeft { get; set; }
    [Parameter]
    public EventCallback CheckTableDivOverflow { get; set; }
    [Parameter]
    public List<GetAllBacklogItemsCommandModel> items { get; set; }
    [Parameter]
    public List<GetAllProcessesCommandModel> processes { get; set; }
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string paginationDivId { get; set; }
    [Parameter]
    public int page { get; set; }
    [Parameter]
    public int pageSize { get; set; }
    [Parameter]
    public int currentPage { get; set; }
    [Parameter]
    public int totalPages { get; set; }
    [Parameter]
    public int itemsCount { get; set; }
    [Parameter]
    public bool paginationButtonsSlideLeftState { get; set; }
    [Parameter]
    public bool paginationButtonsSlideRightState { get; set; }
    [Parameter]
    public int lastPages { get; set; }
    [Parameter]
    public int selectedId { get; set; }

    private int hiddenButtons { get; set; } = 0;
    private Modal editProcessModalRef;
    private Modal addProcessModalRef;
    private Vai.Frontend.Application.Component.EditActionComponent editForm;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task showEditActionModal()
    {
        editProcessModalRef.Show();
        await editForm.GetProcess();
    }

    private void showAddProcessModal()
    {
        addProcessModalRef.Show();
    }

    private void HideModal()
    {
        editProcessModalRef.Hide();
        addProcessModalRef.Hide();
    }

    private async Task PaginatePage(int pageIndex)
    {
        if (page != pageIndex)
        {
            await Task.Run(() =>
            {
                page = pageIndex;
            });
            await SetPaginationData();
            StateHasChanged();
        }
    }

    private async Task PaginateRight()
    {
        if (page < totalPages)
        {
            await HideButtons();
            await Task.Run(() =>
            {
                page = currentPage + 1;
            });
            await SetPaginationData();
            StateHasChanged();
        }
    }

    private async Task PaginateLeft()
    {
        if (page != 1)
        {
            await ShowButtons();
            await Task.Run(() =>
            {

                page = currentPage - 1;
            });
            await SetPaginationData();
            StateHasChanged();
        }
    }

    internal protected async Task SetPaginationData()
    {
        await SetPage.InvokeAsync(page);
        await SetPageSize.InvokeAsync(pageSize);
        await SetCurrentPage.InvokeAsync(currentPage);
    }

    private async Task CheckCheckbox(string idString, int idNumber)
    {
        await Task.Run(() =>
        {
            var id = (idString + idNumber).ToString();
        });
    }

    private async Task ShowButtons()
    {
        await Task.Run(() =>
        {
            if (hiddenButtons == currentPage - 1)
            {
                hiddenButtons -= 1;
            }
        });
        await CheckTableDivOverflow.InvokeAsync();
    }

    private async Task HideButtons()
    {
        await Task.Run(() =>
        {
            if (paginationButtonsSlideLeftState)
            {
                hiddenButtons = page;
                StateHasChanged();
            }
        });
        await CheckTableDivOverflow.InvokeAsync();
    }

    private async Task PaginatePageHideButtons(int pageIndex)
    {
        if (currentPage < pageIndex)
        {
            for (var i = currentPage; i < pageIndex; i++)
            {
                var hiddenButtonIndex = i;
                await Task.Run(() =>
                {
                    if (paginationButtonsSlideLeftState)
                    {
                        hiddenButtons = hiddenButtonIndex;
                        StateHasChanged();
                    }
                });
                await CheckTableDivOverflow.InvokeAsync();
            }

        }
        else
        {
            for (var i = currentPage; i > pageIndex; i--)
            {
                await Task.Run(() =>
                {
                    if (paginationButtonsSlideLeftState)
                    {
                        hiddenButtons = pageIndex;
                    }
                });

            }
        }
        await PaginatePage(pageIndex);
    }

    private async Task ClickedLastPages(int pageIndex)
    {
        paginationButtonsSlideLeftState = false;
        await Task.Run(() => hiddenButtons = pageIndex);
        StateHasChanged();
        for (var i = pageIndex - 1; i > 1; i--)
        {
            hiddenButtons -= 1;
            if(paginationButtonsSlideLeftState == false)
            {
                await CheckTableDivOverflow.InvokeAsync();
            }
            else
            {
                currentPage = hiddenButtons + 1;
                break;
            }
        }
        await PaginatePageHideButtons(pageIndex);
    }
}
